<!-- navbar.html -->
<nav class="navbar bg-base-100 shadow-lg">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="{{ url_for('index') }}">SurveyHustle</a>
    </div>
    <div class="flex-none gap-4">
        {% if current_user.is_authenticated %}
            <!-- Display User Balance -->
            <div class="flex items-center">
                <span class="text-base font-medium">{{current_user.username}}</span>
                <span class="ml-2 badge badge-primary badge-lg">${{ "%.2f" | format(current_user.balance) }}</span>
            </div>


            <!-- User Avatar and Dropdown -->



        {% endif %}
    </div>
</nav>
