{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <h2>Profile</h2>
    <p>This is the Profile page.</p>

    {% if current_user.is_authenticated %}
        {% if user.is_business %}
            <h3>Business Dashboard</h3>
            <p>This content is visible only to business users.</p>
            <a href="{{ url_for('upload_survey') }}" class="btn btn-primary">Upload Survey</a>
        {% endif %}

        <a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a>
    {% else %}
        <a href="{{ url_for('register') }}" class="btn btn-primary">Register</a>
        <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
    {% endif %}
{% endblock %}

