{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

    {% if current_user.is_authenticated %}
        {% if user.is_business %}
            <h3>Business Profile</h3>
            <p>This content is visible only to business users.</p>

            <!-- Display the current balance -->
            <div id="currentBalance" class="mt-3">
                Current Balance: $<span id="balanceAmount">{{ current_user.balance }}</span>
            </div>

            <!-- Button to add $20 -->
            <form method="POST">
                {{ form.hidden_tag() }}  <!-- CSRF token -->
                {{ form.submit(class="btn btn-primary") }}
            </form>

            <a href="{{ url_for('upload_survey') }}" class="btn btn-primary mt-2">Upload Survey</a>
        {% else %}
            <h3>{{current_user.username}}'s Profile</h3>
            <p>This content is visible to regular users.</p>

        {% endif %}


        <a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a>
    {% else %}

        <a href="{{ url_for('register') }}" class="btn btn-primary">Register</a>
        <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
    {% endif %}

{% endblock %}
