<!-- templates/upload_survey.html -->
{% extends "base.html" %}

{% block content %}
<h2 class="text-2xl font-bold mb-4">Upload New Survey</h2>
<form method="POST" enctype="multipart/form-data" class="max-w-lg mx-auto">
    {{ form.hidden_tag() }}
    <div class="form-control mb-4">
        {{ form.title.label(class="label") }}
        {{ form.title(class="input input-bordered") }}
    </div>
    <div class="form-control mb-4">
        {{ form.description.label(class="label") }}
        {{ form.description(class="textarea textarea-bordered") }}
    </div>
    <div class="form-control mb-4">
        {{ form.terms_and_conditions.label(class="label") }}
        {{ form.terms_and_conditions(class="textarea textarea-bordered") }}
    </div>
    <div class="form-control mb-4">
        {{ form.total_payout.label(class="label") }}
        {{ form.total_payout(class="input input-bordered") }}
    </div>
    <div class="form-control mb-4">
        {{ form.desired_respondents.label(class="label") }}
        {{ form.desired_respondents(class="input input-bordered") }}
    </div>
    <div class="form-control mb-4">
        {{ form.csv_file.label(class="label") }}
        {{ form.csv_file(class="file-input file-input-bordered w-full") }}
    </div>
    <div class="pb-16">
    <button type="submit" class="btn btn-primary w-full">{{ form.submit.label.text }}</button>
    </div>
</form>

<br>
<br>
<br>
<p>SurveyHustle 2024</p>
{% endblock %}
